.command-wrapper .input-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.command-wrapper .input-wrapper input {
  height: 25px;
  width: 50%;
  font-size: 18px;
  margin-right: 10px;
}

.command-wrapper .input-wrapper button {
  height: 30px;
  width: 80px;
  font-size: 18px;
}

.command-wrapper .command-list {
  margin: 5px 0;
}

.command-wrapper .command-list .command-item {
  margin: 0 5px;
}
