.table-wrapper {
  border: 1px solid black;
}

.table-wrapper .row {
  display: flex;
}

.table-wrapper .row .row-item {
  position: relative;
  flex: 1;
  border: 1px solid black;
}

.table-wrapper .row .row-item:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.table-wrapper .row .row-item .content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.table-wrapper .row .row-item .active {
  background: red;
}

