.table-wrapper {
  width: 40%;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid black;
}

.table-wrapper .row {
  display: flex;
}

.table-wrapper .row .row-item {
  position: relative;
  flex: 1;
  border: 1px solid black;
}

.table-wrapper .row .row-item:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.table-wrapper .row .row-item .content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.table-wrapper .row .row-item .active {
  background: red;
  background: url(assets/images/robot-head.png) no-repeat left top;
  background-size: cover;
}

.table-wrapper .row .row-item .active.NORTH{
  transform: rotate(0deg);
}

.table-wrapper .row .row-item .active.EAST{
  transform: rotate(90deg);
}

.table-wrapper .row .row-item .active.SOUTH{
  transform: rotate(180deg);
}

.table-wrapper .row .row-item .active.WEST{
  transform: rotate(270deg);
}

